html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display:flex;
    height: fit-content;
    font-size: larger;
    color: azure;
}

@font-face {
    font-family:Norse-Bold;
    src: url(/font.otf/Norse-Bold.otf);
}

.container1 {
    width: 100%;
    height:55rem;
    display:flex;
    flex-direction: row;
    flex: 1 0 0;
    background-image: url(images/andres-dallimonti-ykkwMgill3k-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:30% 100%;
    background-color: rgb(86, 175, 175);
}

.picture {
    flex: 1 0 30%
}

.logo {
  
    height: 7rem;
    text-align: center;
    margin-top: 5rem;
    color:cadetblue;
    font-family: Norse-Bold;
    font-size: 5rem;
    background-color: rgba(0,0,0,.25);
    
}


.container2 {
display:flex;
flex-direction: column;
flex-wrap: nowrap;
margin-top: 10rem;

font-size: 30px;

}

.ldt {
    display:flex;
    margin: 1rem;
    gap: 5rem;
}

.container3 {
    display:flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 5rem;
    justify-content: left;
    margin-bottom: 2rem;
    gap: 5rem;
}

.container4 {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: column;
}

.contact {
    display: flex;
    justify-content: left;
    gap: 5rem;
    margin-bottom: 2rem;
}

.pass {
    display: flex;
    justify-content: left;
    gap: 5rem;
}

fieldset {
    display: flex;
    flex-direction: column;
}
#button {
    width: 9rem;
    height: 3em;
    color: aquamarine;
    background-color: darkcyan;
}

input {
    border-radius: 15%;
}
 img {
    height: 7rem;
 }

 .shadow {
    width: 200rem; 
    box-shadow: 0px 10px 25px 10px rgba(77, 74, 74, .2);
    padding-left: 20px;
s
 }